<!-- views/profile.ejs -->

<h1>Welcome to the homepage</h1>
<!-- Display user information here -->

<form action="/auth/login" method="GET">
  <button type="submit">Login</button>
</form>

<form action="/auth/register" method="GET">
    <button type="submit">Register</button>
</form>
